#header_full {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    /* height: 100px; */
}

body {
    background-image: url("../images/concrete_wall_2.png");
    margin-top: 100px;
    padding-bottom: 60px;
}

heading hr {
    margin-top: 0%;
}

#header_indented {
    width: 960px;
}

#header_name {
    font-size: 2rem;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    background: #4aaaa5;

}

.main_area {
    width: 960px;
    color: #777777;
    background-color: #ffffff;
    border: 1px solid #dddddd;

}

#fam_pic {
    float: left;
    height: 200px;
    width: auto;
    margin-right: 10px;
    border-radius: 8px;
}


#footer {
    height: 50px;
    color: #ffffff;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

#footer-span {
    position: absolute;
    bottom: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #4aaaa5;
}

.navbar-default .navbar-nav > .active > a:visited {
    color: #FF886E;
}

.contact_form {
    font-size: 1.5rem;
}

.navbar-custom {
background-color: #666666;
color: #ffffff;
}
